{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "srr": true,
        "displayName": true // 개발 모드에서 컴포넌트를 보기 편하게 해줌
      }
    ]
  ]
}
